/* Changer pour une autre fonte plus cohérente
@font-face {
  font-family: "Wonderland";
  src: "../fonts/Wonderland.otf" format("opentype");
}*/

/* À l'aide de 98.css => https://github.com/jdan/98.css/tree/main */

@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url("fonts/converted/ms_sans_serif.woff") format("woff");
  src: url("fonts/converted/ms_sans_serif.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --text-color: #222222;
  --surface: #c0c0c0;
  --button-highlight: #ffffff;
  --button-face: #dfdfdf;
  --button-shadow: #808080;
  --window-frame: #0a0a0a;
  --dialog-blue: #000080;
  --dialog-blue-light: #1084d0;
  --dialog-gray: #808080;
  --dialog-gray-light: #b5b5b5;
  --link-blue: #0000ff;
}

body {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background-color: rgb(200, 200, 255);
}

.contenant {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 915px;
  border-style: outset;
  border-color: white;
  border-width: 3px;
}

.title-bar {
  background: linear-gradient(
    90deg,
    var(--dialog-blue),
    var(--dialog-blue-light)
  );
  width: 910px;
}

.btnplus button[aria-label="Help"] {
  background-image: svg-load("./icon/help.svg");
  background-repeat: no-repeat;
  background-position: top 2px left 4px;
}

.btnplusbutton[aria-label="Close"] {
  background-image: svg-load("./icon/close.svg");
  background-repeat: no-repeat;
  background-position: top 3px left 4px;
}

#jeu {
  justify-content: center;
  width: 910px;
  min-height: 100px;
  box-shadow: var(--border-window-outer), var(--border-window-inner);
  background: var(--surface);
  padding: 3px;
}

.logo {
  font-family: "Pixelated MS Sans Serif";
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  color: white;
  letter-spacing: 0;
  margin-right: 24px;
}

h2 {
  margin-top: -5px;
  text-align: center;
  font-size: 2.5rem;
}

p {
  margin-top: -5px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

#visuel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.petitimg {
  width: 30%;
  min-height: 30%;
}

.boutons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

button {
  height: 40px;
  box-sizing: border-box;
  border: none;
  color: transparent;
  text-shadow: 0 0 var(--text-color);
  background: var(--surface);
  box-shadow: var(--border-raised-outer), var(--border-raised-inner);
  border-radius: 0;

  min-width: 75px;
  min-height: 23px;
  padding: 0 12px;
}

button:hover {
  background-color: #8e8e8e;
  color: white;
}

.inputold {
  width: 150px;
  padding: 3px 4px;
  border-style: inset;
  border-color: white;
  border-width: 4px;
  height: 20px;
  font-size: 20px;
}

.contenantpopup {
  display: none;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 500px;
  border-style: outset;
  border-color: white;
  border-width: 2px;
  background: var(--surface);
  position: absolute;
}

.title-barpopup {
  margin-top: -10px;
  background: linear-gradient(
    90deg,
    var(--dialog-blue),
    var(--dialog-blue-light)
  );
  width: 500px;
}

.logopopup {
  font-family: "Pixelated MS Sans Serif";
  margin-top: 10px;
  font-weight: bold;
  color: white;
  letter-spacing: 0;
  margin-right: 24px;
}

.intpopup {
  width: 500px;
  min-height: 90px;
  box-shadow: var(--border-window-outer), var(--border-window-inner);
  background: var(--surface);
  padding: 3px;
  font-size: 15px;
}

#boutonspop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#btnRestart {
  display: block;
}
